{% extends "base.html" %}

{% load static %}

{% block wrapped %}

<h2>Embeddable Map Demos</h2>
<p class="lead">Embeddable Maps are an easy way to drop events onto your web site.</p>

<p>It uses <a href="http://leafletjs.com" target="_blank">LeafletJS</a> and intiializes its own dependencies. Just include a <code>&lt;script&gt;</code> tag, and you are off to the races!</p>

<p><strong>Pro-tip:</strong> You can also perform any search on <a href="http://progressiveevents.org/">Progressive Events</a> and find an embeddable script tag beneath the search results.</p>

<h3>Embed a Map:</h3>
<p>Shows an embedded map of the default progressiveevents.org experience (which, selfishly, defaults to Seattle, WA).</p>
<p><code>&lt;script src="{% static "js/embed.js" %}"&gt;&lt;/script&gt;</code></p>
<script src="{% static "js/embed.js" %}"></script>

<hr />

<h3>Basic Search Parameters:</h3>
<p>You can find the search params format by doing a search on the home page &mdash; just copy the query string.</p>
<p><code>&lt;script src="{% static "js/embed.js" %}" data-filters="event_types=party-event&amp;address=Seattle%2C+WA&amp;days=30"&gt;&lt;/script&gt;</code></p>
<script src="{% static "js/embed.js" %}" data-filters="event_types=party-event&amp;address=Seattle%2C+WA&amp;days=30"></script>

<hr />

<h3>Organization Specific Maps:</h3>
<p>Organization slugs aren't currently surfaced in the front-end PE experience, but they're findable in the <a href="http://www.progressiveevents.org/api/1/orgs">REST API</a> or easy enough to deduce.</p>
<p>Note: absent any other search filters, it will try and show ALL upcoming for that organization (with a default search window of 30 days).</p>
<p><code>&lt;script src="{% static "js/embed.js" %}" data-filters="org=seattle-city-council"&gt;&lt;/script&gt;</code></p>
<script src="{% static "js/embed.js" %}" data-filters="org=seattle-city-council"></script>

<hr />

<h3>Specific Event Maps:</h3>
<p>If you click through to <a href="/events/seattle-city-council">an event detail page</a>, you can snag it's slug from the URL, and use it in the <code>event=</code> parameter in the <code>data-filters</code> attribute.</p>
<p><code>&lt;script src="{% static "js/embed.js" %}" data-filters="event=west-seattle-bike-connections-monthly-meeting"&gt;&lt;/script&gt;</code></p>
<script src="{% static "js/embed.js" %}" data-filters="event=west-seattle-bike-connections-monthly-meeting"></script>

<hr />

<h3>Include Zip Code Filter:</h3>
<!-- <p>You can find the search params format by doing a search on the home page &mdash; just copy the query string.</p> -->
<p><code>&lt;script src="{% static "js/embed.js" %}" data-search="true" data-filters="address=Denver%2C+CO&amp;days=60"&gt;&lt;/script&gt;</code></p>
<script src="{% static "js/embed.js" %}" data-search="true" data-filters="address=Denver%2C+CO&amp;days=60"></script>

<h3>Include Live Updating List:</h3>
<!-- <p>You can find the search params format by doing a search on the home page &mdash; just copy the query string.</p> -->
<p><code>&lt;script src="{% static "js/embed.js" %}" data-search="true" data-showlist="true" data-distances='[10, 25, 50, 100, 500]' data-filters="address=Denver%2C+CO&amp;days=90&amp;distance=75"&gt;&lt;/script&gt;</code></p>
<script src="{% static "js/embed.js" %}" data-search="true" data-showlist="true" data-distances='[10, 25, 50, 100, 500]' data-filters="address=Denver%2C+CO&amp;days=90&amp;distance=75"></script>

{% endblock %}