<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <style>
        html, body{ margin: 0; padding: 0; height: 100%; }
        #map{ width: 100%; height: 100%; }

        @font-face { font-family: 'Glyphicons Halflings'; src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot'); src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg'); }
        .glyphicon { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
        .glyphicon-map-marker:before { content: "\e062"; }
        .glyphicon-link:before { content: "\e144"; }
        .glyphicon-calendar:before { content: "\e109"; }
        .glyphicon-time:before { content: "\e023"; }
        .glyphicon-repeat:before { content: "\e030"; }
        h5{ font-size: 1.25em; margin: 0 0 0.75em; }
        .leaflet-popup-content p{ margin: 12px 0; }
    </style>
</head>
<body>

<div id="map"></div>



<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script>
    var map = L.map('map', {
        scrollWheelZoom: false
    }); // .setView([{{ point.y }}, {{ point.x }}], 13);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var points = [];

    var populatePoints = function(events){

        for(var i = 0; i < events.length; i++){

            var event = events[i];

            var template = `<h5>${event.title}</h5>`;
            if(event.venue.address){
                template += `<p><a href="https://www.google.com/maps/place/${encodeURIComponent(event.venue.address)}%2C+${encodeURIComponent(event.venue.city)}%2C+${encodeURIComponent(event.venue.state)}+${event.venue.zipcode}" target="_blank"><span class="glyphicon glyphicon-map-marker" style="margin-right: 0.33em;"></span><b>${event.venue.title}</b><span class="text-muted" style="margin-left: 0.333em;">${event.venue.address}, ${event.venue.city}</span></a></p>`
            }
            
            if(event.description){
                template += `<p>${event.description}</p>`
            }

            if(event.url){
                template += `<p><a href="${event.url}" target="_blank" class="link"><span class="glyphicon glyphicon-link" style="margin-right: 0.33em;"></span>${event.url}</a></p>`
            } else {
                template += `<p><a href="http://www.progressiveevents.org/events/${event.slug}" target="_blank" class="link"><span class="glyphicon glyphicon-link" style="margin-right: 0.33em;"></span>More info on Progressive Events</a></p>`
            }

            points.push(L.marker([event.venue.point.y, event.venue.point.x])
                    .bindPopup(template));

        }

        var markerGroup = L.featureGroup(points);
        markerGroup.addTo(map);
        map.fitBounds(markerGroup.getBounds().pad(0.2));

    };


    var embedLookup = new XMLHttpRequest();
    embedLookup.open('GET', '/api/1/events' + location.search);
    embedLookup.send(null);
    embedLookup.onreadystatechange = function(){
        var DONE = 4, OK = 200;
        if(embedLookup.readyState == DONE && embedLookup.status == OK){
            var response = JSON.parse(embedLookup.responseText);
            if(response.length){
                populatePoints(response);
            }
        }
    }

</script>

</body>
</html>