{% extends "base.html" %}


{% block content %}

    {% load event_dates %}

    <section>
        <div class="row">
            <div class="col-xs-12">
                <div id="map">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">

            <div class="events">
                
                {% include "search-form.html" %}

                {% for event in events %}
                    <div class="event-item row">
                        <div class="col-sm-7">
                            <h4>
                                {{ event.title }}
                                {% if event.host %}<span class="small">&ndash; hosted by {% if event.host.url %}<a href="{{ event.host.url }}" target="_blank">{% endif %}{{ event.host.title }}{% if event.host.url %}</a>{% endif %}</span>{% endif %}
                            </h4>
                            
                            {% if event.venue.address %}
                                <p><a href="https://www.google.com/maps/place/{{ event.venue.address|urlencode }}%2C+{{ event.venue.city|urlencode }}%2C+{{ event.venue.state|urlencode }}+{{ event.venue.zipcode|urlencode }}" target="_blank"><span class="glyphicon glyphicon-map-marker"style="margin-right: 0.33em;"></span><b>{{ event.venue.title }}</b><span class="text-muted" style="margin-left: 0.333em;">{{ event.venue.address }}, {{ event.venue.city }}</span></a></p>
                            {% endif %}
                            

                            {% if event.description %}
                                <p style="margin: 0 1em 10px">{{ event.description | safe }}</p>
                            {% endif %}
                        </div>

                        <div class="col-sm-5">
                            {% event_dates event days=search_form.days.value as dates %}
                            <h5 class="text-muted"><span class="glyphicon glyphicon-calendar"></span>
                                {% if event.recurrences.rrules|length > 0 %}Upcoming Dates{% else %}Date{% endif %}:</h5>
                            <p>
                                {% for date in dates|slice:"0:3" %}
                                    {{ date|date:"F jS" }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </p>
                            {% if event.start %}
                                <h5 class="text-muted"><span class="glyphicon glyphicon-time"></span> Time:</h5>
                                <p>{{ event.start }} {% if event.end %}&ndash; {{ event.end }}{% endif %}</p>
                            {% endif %}
                            {% if event.recurrences.rrules %}
                                <h5 class="text-muted"><span class="glyphicon glyphicon-repeat"></span> Schedule:</h5>
                                <ul class="list-unstyled">
                                    {% for rule in event.recurrences.rrules %}
                                        <li>{{ rule.to_text | title }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <div class="event-item text-center" style="padding: 4em 0">
                        <h4>No events matching that search!</h4>
                        <p><a href="mailto:jon.c.culver@gmail.com">Get in touch</a>
                            if you want to help us populate the map in your area!</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}