{% extends "base.html" %}

{% load static %}

{% block navbar %}
    <div class="col-sm-6 text-right hidden-xs">
        <a href="{% url "add" %}" class="btn btn-primary" style="margin-top: 1.25em;"><span class="glyphicon glyphicon-plus-sign"></span> Add Event</a>
    </div>
{% endblock %}


{% block content %}

    {% load event_dates %}

    <section>
        <div id="map""></div>
    </section>

    <section>
        <div class="container">

            <div class="events">
                
                {% include "search-form.html" %}

                {% for event in events %}
                    <div class="event-item row" id="{{ event.title | slugify }}-{{ event.pk }}">
                        <div class="col-sm-7">
                            <h4>
                                {{ event.title }}
                                {% if event.host %}<span class="small">&ndash; hosted by {% if event.host.url %}<a href="{{ event.host.url }}" target="_blank">{% endif %}{{ event.host.title }}{% if event.host.url %}</a>{% endif %}</span>{% endif %}
                            </h4>
                            
                            {% if event.description %}
                                <p style="margin: 0 1.33em 10px"><span class="glyphicon glyphicon-info-sign text-muted" style="margin-left: -1.33em; margin-right: 0.33em;"></span>{{ event.description | linebreaksbr | urlize }}</p>
                            {% endif %}
                            
                            {% if event.venue.address %}
                                <p><span class="glyphicon glyphicon-map-marker text-muted" style="margin-right: 0.33em;"></span><a href="https://www.google.com/maps/place/{{ event.venue.address|urlencode }}%2C+{{ event.venue.city|urlencode }}%2C+{{ event.venue.state|urlencode }}+{{ event.venue.zipcode|urlencode }}" target="_blank"><b>{{ event.venue.title }}</b><span class="text-muted" style="margin-left: 0.333em;">{{ event.venue.address }}, {{ event.venue.city }}</span></a></p>
                            {% endif %}
                            

                            {% if event.url %}
                                <p><span class="glyphicon glyphicon-link text-muted"></span> More info: <a href="{{ event.url }}" target="_blank" class="link">{{ event.url }}</a></p>
                            {% endif %}
                        </div>

                        <div class="col-sm-5 event-sidebar">
                            {% event_dates event days=search_form.days.value as dates %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <h5 class="text-muted xs-inline"><span class="glyphicon glyphicon-calendar"></span>
                                        {% if event.recurrences.rrules|length > 0 %}Upcoming Dates{% else %}Event Date{% endif %}:</h5>
                                    <p>
                                        {% for date in dates|slice:"0:3" %}
                                            {{ date|date:"F jS" }}{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                            {% if event.start %}
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h5 class="text-muted xs-inline"><span class="glyphicon glyphicon-time"></span> Time:</h5>
                                        <p>{{ event.start }} {% if event.end %}&ndash; {{ event.end }}{% endif %}</p>
                                    </div>
                                </div>
                            {% endif %}
                            {% if event.recurrences.rrules %}
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h5 class="text-muted xs-inline"><span class="glyphicon glyphicon-repeat"></span> Schedule:</h5>
                                        <ul class="list-unstyled">
                                            {% for rule in event.recurrences.rrules %}
                                                <li>{{ rule.to_text | title }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <div class="event-item text-center" style="padding: 4em 0">
                        <h4>No events matching that search.</h4>
                    </div>
                {% endfor %}
            </div>


            <div class="text-center" style="max-width: 85%; margin-top: 4em; margin-left: auto; margin-right: auto;">
                <p class="lead">Not finding what you're looking for?</p>
                <p>Progressive Events is powered by volunteers like you, to surface
                    events and opportunities for getting involved in your community.</p>
                <p>We're just getting started, so if you know of an event that should be up here, please consider adding it:</p>
                    <a href="{% url "add" %}" class="btn btn-primary" style="margin-top: 1em;"><span class="glyphicon glyphicon-plus-sign"></span> Add Event</a>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_footer %}
<script src="{% static "js/progressive-events.js" %}"></script>
<script>progressive_events.searchForm.bind();</script>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script>
    var map = L.map('map', {
        scrollWheelZoom: false
    }).setView([{{ point.y }}, {{ point.x }}], 13);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var points = [];

    {% for event in events %}

        points.push(L.marker([{{ event.venue.point.y }}, {{ event.venue.point.x }}])
                .bindPopup('{% spaceless %}
                            <h5>{{ event.title }}</h5>
                            {% if event.venue.address %}
                                <p>
                                    <a href="https://www.google.com/maps/place/{{ event.venue.address|urlencode }}%2C+{{ event.venue.city|urlencode }}%2C+{{ event.venue.state|urlencode }}+{{ event.venue.zipcode|urlencode }}" target="_blank"><span class="glyphicon glyphicon-map-marker" style="margin-right: 0.33em;"></span><b>{{ event.venue.title }}</b><span class="text-muted" style="margin-left: 0.333em;">{{ event.venue.address }}, {{ event.venue.city }}</span></a>
                                </p>
                            {% endif %}
                            {% if event.description %}
                                <p>{{ event.description | linebreaksbr | safe }}</p>
                            {% endif %}
                            <p>
                                {% if event.url %}
                                    <a href="{{ event.url }}" target="_blank" class="link"><span class="glyphicon glyphicon-link" style="margin-right: 0.33em;"></span>{{ event.url }}</a><br />
                                {% endif %}
                                <a href="#{{ event.title | slugify }}-{{ event.pk }}"><span class="glyphicon glyphicon-info-sign" style="margin-right: 0.33em"></span>Jump to listing</a>
                            </p>{% endspaceless %}'));

    {% endfor %}

    var markerGroup = L.featureGroup(points);
    markerGroup.addTo(map);
    map.fitBounds(markerGroup.getBounds().pad(0.2));
</script>
{% endblock %}