{% load bootstrap3 %}

<div style="padding: 2em 0;">
    <form action="" method="get" class="search-form form-inline">
        <h4 class="search-sentence text-center">
            <span class="glyphicon glyphicon-search"></span>
            Searching for <span data-attribute="event_types" contenteditable="true">all events</span> {{ search_form.event_types }}
            within <span data-attribute="distance" contenteditable="true">{{ search_form.distance.value }}</span> {{ search_form.distance }} miles
            of <span data-attribute="address" contenteditable="true">{{ search_form.address.value }}</span> {{ search_form.address }}
            in the next <span data-attribute="days" contenteditable="true">{{ search_form.days.value }}</span> {{ search_form.days }} days
            <button type="submit" class="btn btn-primary" style="margin-left: 1em;">Go &rsaquo;</button>
        </h4>
    </form>
</div>