{% extends "base.html" %}
{% load static %}

{% block wrapped %}

    <div class="row">

        <div class="col-xs-8">

            <h2>But who wants to go to meetings?</h2>

            <p class="lead">It's a reasonable question (or: hello, my fellow millennial!)</p>

            <p>For better <a href="https://gettingreal.37signals.com/ch07_Meetings_Are_Toxic.php" target="_blank">or worse</a>, much of the world runs on meetings. Much about
                how our world runs gets decided at meetings. And given that
                <a href="http://www.pewresearch.org/fact-tank/2016/04/25/millennials-overtake-baby-boomers/" target="_blank">we're
                the most populous generation</a>, both in the workplace, and at the polls,
                if we <strong>do</strong> intend to actually run the world someday,
                maybe it's high time we start showing up to some meetings ourselves, and make
                sure our voice is represented at those meetings.</p>

            <img src="{% static "img/labor-force.png" %}" class="img-responsive" style="margin-bottom: 2em;" />

            <p>Of course this site isn't just for millennials &mdash; not in the least!
                This author / millennial is just thinking out loud &mdash;
                but it IS for anyone who is looking to get involved, and
                might have an allergic reaction to the thought of going to a meeting. And,
                millennials, famously spending all day looking at the Internet, well it seems a natural
                fit for a jokey headline. (It's all ages, people!)</p>

            <p>We hope to curate a list of, indeed, progressive events. This can span local Democratic
                organization meetings, advocacy groups, progressive causes, as well as civic
                meetings, like city council meetings.</p>

            <p>We hope to illustrate the value in those meetings &mdash; what happens at those
                meetings, who runs them, and who their target audience might be, so visitors can
                self-select into the meetings they most wish to attend.</p>

            <p>We hope to keep our data up to date, actionable, and make it relevant to our visitors.</p>

            <p>We hope to get lots of people out to events in their community so they can affect change,
                at levels small and big, at whatever pace they see fit.</p>

            <p>We hope to see you there.</p>

        </p>

    </div>

{% endblock %}