{% extends "base.html" %}
{% load static %}

{% block wrapped %}

    <div class="row">

        <div class="col-xs-8">

            <h2>Progressive Events is out to create a resource for politically-oriented events.</h2>

            <p>Many local party organizations, advocacy groups, civic organizations, and other
                related groups meet regularly. Once a week, or once a month, sometimes once a quarter.
                These events are often routine and recurring &mdash; folks have been going for years,
                like clockwork &mdash; and these meetings happen whether you're there or not. And there
                are plenty of cases where those groups could be reaching more attendees, but maybe they're
                not. We're here to help bridge that gap.</p>

            <p class="lead">&ldquo;Aw, but&hellip; who wants to go to <em>meetings?</em>&rdquo; you say.</p>

            <p>It's a perfectly reasonable question, but it's important.</p>

            <p>For better <a href="https://gettingreal.37signals.com/ch07_Meetings_Are_Toxic.php" target="_blank">or worse</a>, much of the world runs on meetings. Much about
                how our world runs gets decided at meetings. And if we the people (that's, <em>us</em>)
                <strong>do</strong> intend to actually run the world someday,
                maybe it's high time we start showing up to some meetings ourselves, and make
                sure our voice is represented at those meetings.</p>

            <p>Because most of the world is meeting without us &mdash; every Tuesday, say, at some
                community center, probably not too far from where you live. And piece by piece, they're making decisions that
                directly shape the future. And if you're a progressive like us, you'll want to be in
                on that conversation. We're here to push you to be part of that conversation.</p>

            <p>We hope to illustrate the value in those meetings &mdash; what happens at those
                meetings, who runs them, and who their target audience might be, so visitors can
                self-select into the meetings they most wish to attend.</p>

            <p>We hope to keep our data up to date, actionable, and make it relevant to our visitors.</p>

            <p>We hope to get lots of people out to events in their community so they can affect change,
                at levels small and big, at whatever pace they see fit. We hope that going to these meetings
                might become the new norm in the world.</p>

            <p>Most of all, we hope to see you there. &hearts;</p>

        </p>

    </div>

{% endblock %}